# ===========================================
# CORE
# ===========================================
Flask>=3.1.2,<4
python-dotenv>=1.1.1,<2
gunicorn>=23.0.0,<24

# ===========================================
# SECURITY
# ===========================================
flask-cors>=6.0.1,<7
Flask-Limiter>=4.0.0,<5
# PyJWT>=2.9.0,<3

# ===========================================
# DATABASE
# ===========================================
Flask-SQLAlchemy>=3.1.1,<4
# PyMySQL>=1.1.2,<2
# psycopg2-binary>=2.9.9,<3

# ===========================================
# VALIDATION
# ===========================================
marshmallow>=3.23.0,<4
# flask-marshmallow>=1.3.0,<2
# marshmallow-sqlalchemy>=1.4.2,<2

# ===========================================
# EMAIL
# ===========================================
# Flask-Mailman>=1.1.1,<2

# ===========================================
# CACHE / RATE LIMITING STORAGE (opcional)
# ===========================================
# redis>=5.2.0,<6

# ===========================================
# CONCURRENCY (opcional)
# ===========================================
# gevent>=25.9.1,<26

# ===========================================
# ASYNC TASKS (opcional)
# ===========================================
# celery>=5.4.0,<6

# ===========================================
# BROWSER AUTOMATION (opcional)
# ===========================================
# playwright>=1.55.0,<2